*.class
*.log

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet
.idea/
project/
target
src/main/scala/Beginning/1.FunctionAndEvaluation/
src/main/scala/Beginning/4.TypesAndPatternMatching/
src/main/scala/Beginning/5.Lists/
src/main/scala/Beginning/6.Collections/
src/test/scala/
